body{
    display: block;
    background-color:#023300;
}
ul{
    font-size:large;
    list-style-type:none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color:#0E550B;
}
li{
    margin-bottom: -5px;
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}
li a:hover{
    background-color:brown ;
    color: black;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}
.product {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra:hover {
        background-color:brown;
        color: black;
}


.product1 {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product1 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra1 {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra1:hover {
        background-color:brown;
        color: black;
}


.product2 {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra2 {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra2:hover {
        background-color:brown;
        color: black;
}